A:link.linkGrid {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 color: blue;
 font-size: 11px;
 text-decoration: underline;
}

A:visited.linkGrid {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 color: blue;
 font-size: 11px;
 text-decoration: underline;
}

A:hover.linkGrid {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 color: blue;
 font-size: 11px;
 text-decoration: underline;
}

A:link.linkCce{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 color:Black;
 text-decoration: underline;
}

A:visited.linkCce {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: Black;
 text-decoration: underline;
}

A:hover.linkCce {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: black;
 text-decoration: underline;
}

.TituloAreaRestritacentro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 15px;
	font-weight: bold;
	color:#336699;
	background-color:Transparent;
	text-align:center;
	border-bottom:1px solid silver ;
    border-top:1px solid silver ;      
}

.TituloAreaRestrita2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 15px;
	font-weight: bold;
	color:#336699;
	background-color:Transparent;
	text-align:left;
    border-bottom:1px solid silver ;
    border-top:1px solid silver ;
}  


.TextoFundoBrancoNegrito {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}

.linha{
    border-top: 1px solid #3377CC;
    border-left: 1px solid #3377CC;
	height: 11px;
	background-color:#D0E5FB;
    font-size: 10px;
    display:block;
    background-position:center;
	
	/*
	border-top-color:Transparent;   
	border-left-color :Transparent;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background-color:Transparent;
	*/	
}

.labelTitulo{
    background-color: red;
    font-family: Verdana;
    font-size: 12px;
    color: white;  
}

.labelConteudo{
    background-color: Transparent;
    font-family: Arial;
    font-size: 11px;
    color: black;
    padding: 0;
    height: 15px;
}

.linhaCartaCorrecao{
    border-top: 1px solid #333333;
    border-top-color: Transparent;
    border-left: 1px solid #333333;
    border-left-color: Transparent;
    background-color: Transparent;
    font-size: 10px;
    font-weight: bold;
    display: block;
    background-position: center;
}

.Aba
{
    background: url('imagens/fundo-botao-right.gif') right top no-repeat;
    background: url('imagens/fundo-botao-right-sel.gif') left top no-repeat !important;
    font-size: 12px !important;
    font-family: tahoma, arial, helvetica;
	line-height:20px;
	text-align:center;
	

}
